{% extends 'base.html' %}

{% block content %}
<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>La historia de Corsa</h2>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="images/" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>Mas acerca de nosotros. </h3>

				<p>Óptica Corsa empezó como distribuidora en el año 2011. Durante el proceso de transición, a la cual hoy se conoce como Óptica, la doctora Francisca Martínez obtuvo su certificación en optometría. Estamos disponibles a su servicio. </p>

			</div>
		</div>
	</div>
</div>
{% endblock %}