{% extends 'base.html' %}


{% block content %}
<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
				<div class="col-md-offset-4">
				<h2>Bienvenido a</h2>
				<h1><strong>Óptica y Distribuidora Corsa</strong></h1>
				<p>Óptica y distribuidora Corsa nos enfocamos en el servicio a la gente por medio de nuestros productos y atención al publico. Conéctate con nosotros y descubre nuestros precios y paquetes sin compromiso.</p>
				<a href="#service" class="btn btn-default smoothScroll">Empezar</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}